GROQ_API_KEY=tu_clave_de_groq
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=tu_contrasena_de_neon
DB_HOST=ep-late-leaf-aeki2fgz-pooler.c-2.us-east-2.aws.neon.tech
DB_PORT=5432

# ==========================================
# CONFIGURACIÓN DE CORREO (SMTP)
# ==========================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion
SMTP_FROM_NAME=Bolsa de Trabajo Municipal
CORREO_DESTINO=correo_destino@ejemplo.com